{%- set external_urls = {
  'github': 'https://github.com/PhoenixDL/rising',
  'github_issues': 'https://github.com/PhoenixDl/rising/issues',
  'contributing': 'https://github.com/PhoenixDl/rising/blob/master/CONTRIBUTING.md',
  'docs': 'https://rising.rtfd.io/en/latest',
  'discuss': 'https://phoenixdl.slack.com',
  'previous_pytorch_versions': 'https://rising.rtfd.io/en/stable/',
  'home': 'https://rising.rtfd.io/en/latest/',
  'get_started': 'https://rising.readthedocs.io/en/latest/getting_started.html',
  'features': 'https://rising.rtfd.io/en/latest/',
  'support': 'https://github.com/PhoenixDl/rising/issues',
  'ressources': https://github.com/PhoenixDL/rising
}
-%}