sphinx
recommonmark  # fails with badges
nbsphinx
pandoc
pypandoc
docutils
sphinxcontrib-fulltoc
sphinxcontrib-mockautodoc
git+https://github.com/PhoenixDL/rising_sphinx_theme.git
sphinx-autodoc-typehints
sphinx-paramlinks
jupyter
